VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzZlAtTRwBK6ogHj2GFM60hssOE22O2KJ1FanVd69kCZbOJ38Opqek8GJ5GbSiuUPxT/exec
VITE_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/1MqY0zLilkT2CUckM-az3lXPfdCxHl8YANEIJPaH5_dE/viewform
